.card {
    height: 100px;
    background-color: #303030;
    border-radius: 10px;
    display: flex;
}

.cardHover :hover {
    cursor: pointer;
}

.cardThumbnail {
    height: 100px;
    width: 100px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.cardName {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 21px;
}

.centeredIconHomepage {
    display: flex;
    justify-content: space-around;
    height: 100%;
}