.side_menu{
    height:90vh;
    width: 301px;
	z-index: 10;
	overflow: auto;
}

.spotify_logo{
	margin-top:31px;
}

.displayFlex{
	display: flex;
}

.marginLeft{
	margin-left: 10px;
}
.favoriteThumbnail{
	display:block;
	width: 30px;
	height:30px;
}

.centeredIconDrawer{
	display: flex;
	justify-content: space-around;
	height: 100%;
}